body{
	margin: 0;
	font-family: 'Oswald', sans-serif;
	background-image: url(bodybg.jpg);
	background-position: center;
	font-size: 20px;
}
header{
	background-image: url(images.png);
	background-position: center;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 50px;
}
header h1{
	color: aqua;
	text-shadow: 5px 5px 10px blue, 5px 5px 10px blue;
}
header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid aqua;
}
h1, h2{
	font-family: 'Squada One', cursive;
}

/*header styles*/
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;

}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: deepskyblue;
	margin: 40px 0 10px;
}
a{
	color: black;

}
a:hover{
	color: yellow;
	background-color:deepskyblue;
}
footer{
	background-color: deepskyblue;
	text-align: center;
	color: black;
	padding: 50px;
	margin: 0;
}
footer p{
	margin: 0;
}
footer a{
	color:white;
}
footer a:hover{
	opacity: .5;
	color: red;
}
p.caption{
	color: black;
	font-style: italic;
	margin-top: 0;
	text-align: center;
	opacity: .5;
}